.Editor > section {
    margin-bottom: 40px;
}

.Editor > section > h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}

.Editor > section > input , textarea{
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 20px;
}
.Editor > section > input:focus , textarea:focus {
    outline: none;
}

.Editor > section > textarea{
    width: 90%;
    min-height: 200px;
    resize: vertical;
    box-sizing: border-box;
}

.Editor .emotion_section .emotion_list_wrapper {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.Editor .button_section {
    display: flex;
    justify-content: space-between;
}

.Editor .button_section > button {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
}