.List > input {
    width: 100%;
}

.List > input:focus {
    outline: none;
    border-bottom: 2px solid #000;
}

.List .todos_wrapper{
    display: flex;
    flex-direction: column;
}

.List{
    gap: 20px;
    display: flex;
    flex-direction: column;
}