.Viewer > section {
    width: 100%;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Viewer > section > h4{
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}

.Viewer .emotion_img_wrapper {
    width: 250px;
    height: 250px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 25px;
}

.Viewer .emotion_img_wrapper_1 {
    color: white;
    background-color: rgb(100, 201, 100);
}
.Viewer .emotion_img_wrapper_2 {
    color: white;
    background-color: rgb(157, 215, 114);
}
.Viewer .emotion_img_wrapper_3 {
    color: white;
    background-color: rgb(253, 206, 23);
}
.Viewer .emotion_img_wrapper_4 {
    color: white;
    background-color: rgb(253, 132, 70);
}
.Viewer .emotion_img_wrapper_5 {
    color: white;
    background-color: rgb(253, 86, 95);
}

.Viewer .content_wrapper {
    padding: 20px 0;
    width: 95%;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;

    word-break: keep-all;
    overflow-wrap: break-word;
}

.Viewer .content_wrapper > p {
    text-align: left;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 2.5;
}