@import "tailwindcss";
@font-face {
    font-family: 'KakaoFont';
    src: url('/font/KakaoBigSans-Regular.otf');
}

html, body {
    margin: 0px;
    width: 100%;
    background-color: rgb(246, 246, 246);
    display: flex;
}

#root {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}

body * {
    font-family: 'KakaoFont', serif;
}

.Button_NEGATIVE{
    @apply bg-red-500 hover:bg-red-700 focus:ring-1 focus:ring-red-300
}

.Button_POSITIVE{
    @apply bg-green-500 hover:bg-green-700 focus:ring-1 focus:ring-blue-300
}

.Button_DEFAULT{
    @apply bg-gray-400 hover:bg-gray-600 focus:ring-1 focus:ring-gray-300
}